<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Medimo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22D569801F294F9B00AD6B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D569971F294F9B00AD6B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D569A21F294F9C00AD6B01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
