.App {
  /*text-align: center;*/
}

.loginBox
{
  /*position: absolute;*/
  /*bottom: 0;
  left: 0;
  right: 0;
  margin: auto;*/
  /*width: 33.33%;*/
  /*width:100%;*/
  background-color: rgba(255, 255, 255,1.0);
  color: #333333;
  /*margin-left:73vw;*/
  height:85vh;
  /*margin-top: 62px;*/
}

.loginBox input {
  margin: 0.5vh;
  /*width:  18vw;*/
  width:70%;
  height: 43px;
  font-size: 17px;
  border: 0.1vh solid;
  /*border-radius: 2.3vh;*/
  border-color: rgba(255, 255, 255,0);
  color: black;
  background-color: rgba(236, 240, 241,1.0);
  opacity: 1;
  margin-top:10px;
  font-family: "Century Gothic";
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.login Link{
  margin: 3vh;
}
