#passwordResetBox {
  /*position: absolute;*/
  /*bottom: 0;
  left: 0;
  right: 0;
  margin: auto;*/
  /*width: 33.33%;*/
  /*width:100%;*/
  background-color: rgba(255, 255, 255,1.0);
  color: #333333;
  /*margin-left:73vw;*/
  height:85vh;
  /*margin-top: 62px;*/
}